@import "./assets/font/Montserrat/stylesheet.css";
@import 'reset.css';
@import 'normalize.css';


* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

}



html[data-theme="dark"] {
  --background-card: #252b35;
  --background-tab: #202224;

  --text-gray: #bdc1c8;
  --text-black: #000;

  --color-gray: #a5abba;
  --color-pink: #e71a6e;
  --color-white: #fff;
  --color-black: #000;
}