@import "./assets/font/Montserrat/stylesheet.css";
@import 'reset.css';
@import 'normalize.css';


* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}